page-ljhcjbj {
    ion-navbar{
        
        ion-title{
            padding-right:88px;
        }
        
    }
    .box{
        ion-item{
            border:1px solid #ffe79a;
            margin:10px 0;
        }
        button{
            height: 60px;
            background-color:#ffe79a; 
        }
    }
}
