tr{
    width:80%;
    th{
        width:5%;
        border:1px solid #DDD;
        text-align: center;
    }
    td{
        width:5%;
        border:1px solid #DDD;
        text-align: center;
    }
}