page-syr-notice {
    .toolbar-md{
        min-height:46px;
    }
    .toolbar-title-md{
        font-size: 18px;

    }
    ion-content{
        .content{
            //text-align: center;
            font-size: 18px;
        }
        ul{
            padding-left: 10px;
            li{
                list-style: disc;
                width: 100%;
                float: left;
                line-height: 35px;
                span{
                    font-size: 16px;
                }
                .left{
                    float: left;
                }
                .right{
                    float: right;
                    color: gray;
                }
            }
        }
    }
}
