<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div id="right">
  <div id="top">
    <i class="iconfont">&#xe69b;</i>
    <input type="search" name="search" placeholder="输入你要查找的关键字"/>
  </div>
  <div class="btn-group">
      <button type="button" class="btn btn-default" >
        序号
      </button>
      <button type="button" class="btn btn-default" >
        关键字
      </button>
      <button type="button" class="btn btn-default" >
        搜索次数 
      </button>  
      <button type="button" class="btn btn-default" >
        操作 
      </button>
  </div>
  <div>
    <table class="table table-hover table-condensed">
        <tr>
           <td>1</td>
           <td>数学</td>
           <td>1008</td>
           <td>
            <button class="btn1">编辑</button>
            <button class="btn2">删除</button>
           </td>
        </tr>
        <tr>
           <td>2</td>
           <td>语文</td>
           <td>1000</td>
           <td>
            <button class="btn1">编辑</button>
            <button class="btn2">删除</button>
           </td>
        </tr>
        <tr>
           <td>3</td>
           <td>英语</td>
           <td>900</td>
           <td>
            <button class="btn1">编辑</button>
            <button class="btn2">删除</button>
           </td>
        </tr>
        <tr>
           <td>4</td>
           <td>物理</td>
           <td>1100</td>
           <td>
            <button class="btn1">编辑</button>
            <button class="btn2">删除</button>
           </td>
        </tr>
        <tr>
           <td>5</td>
           <td>历史</td>
           <td>1080</td>
           <td>
            <button class="btn1">编辑</button>
            <button class="btn2">删除</button>
           </td>
        </tr>
    </table>
  </div>

</div>

