<div class="content">
    <div class="top1">
      <input type="text" name="" id="" placeholder="输入你要查找的文件名">
      <i class="iconfont">&#xe606;</i>
      <i class="iconfont">&#xe616;</i>
    </div>
    <div class="corner">
        <i class="iconfont1">&#xe627;</i>
        <i class="iconfont1">&#xe6ef;</i>
        <i class="iconfont1">&#xe61f;</i>
        <i class="iconfont1">&#xe60b;</i>
        <i class="iconfont1">&#xe624;</i>
    </div>
    <div class="bottom">
      <table>
        <tr>
          <th>编号</th>
          <th>文件名</th>
          <th>类别</th>
          <th>作者</th>
          <th>日期</th>
        </tr>
        <tr>
          <td>001</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>002</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>003</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>