.content{
    float: left;
    width: 75%;
    margin-left: 60px;
}

.top1{
    height: 50px;
    width: 870px;
    border-bottom:2px dashed gainsboro;
}
.content input{
    border-radius: 15px;
    text-align: center;
    width: 400px;
    line-height: 25px;
    margin: 10px 240px 5px 180px;
}
.corner{
    padding-top: 10px;
    width: 880px;
    height:170px ;
}
.bottom{
    border-top:2px dashed gainsboro;
    width: 840px;
    height: 400px;
    margin: 0 20px 0 20px;
}

th{
    width: 160px;
    line-height: 35px;
    border-bottom: 1px solid gainsboro;
    text-align: center;

}
td{
    width: 160px;
    line-height: 35px;
    border-bottom: 1px solid gainsboro;
    text-align: center;

}
@font-face {
    font-family: 'iconfont';  /* project id 952062 */
    src: url('//at.alicdn.com/t/font_952062_ojp4oj246mm.eot');
    src: url('//at.alicdn.com/t/font_952062_ojp4oj246mm.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_952062_ojp4oj246mm.woff') format('woff'),
    url('//at.alicdn.com/t/font_952062_ojp4oj246mm.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_952062_ojp4oj246mm.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
    @font-face {
        font-family: 'iconfont1';  /* project id 952062 */
        src: url('//at.alicdn.com/t/font_952062_ojp4oj246mm.eot');
        src: url('//at.alicdn.com/t/font_952062_ojp4oj246mm.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_952062_ojp4oj246mm.woff') format('woff'),
        url('//at.alicdn.com/t/font_952062_ojp4oj246mm.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_952062_ojp4oj246mm.svg#iconfont') format('svg');
      }
      .iconfont1{
        font-family:"iconfont" !important;
        font-size:110px;font-style:normal;
        margin: 0px 30px 20px 30px;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;}