
<div width="75%">
       <input type="text" name="search" placeholder="请输入您要查找的关键字">
       <div class="right">
         <span class="glyphicon glyphicon-bell">&nbsp;</span>
         <span class="glyphicon glyphicon-envelope">&nbsp;</span>
       </div>
       <form>
         <table type="text/css">
           <tr>
             <th>序号</th>
             <th>用户名</th>
             <th>帖子内容</th>
             <th>时间</th>
             <th>操作</th>
           </tr>
           <tr>
             <td colspan=5>
              <div class="biao">1</div>
              <div class="biao">我是学霸</div>
              <div class="biao">啊啊哈哈哈哈哈哈哈</div>
              <div class="biao">1/8/2018</div>
              <div class="biao">
              <button type="button" class="btn btn-info">编辑</button>
              <button type="button" class="btn btn-warning">删除</button> 
              </div>
             </td>
           </tr>
           <tr>
             <td colspan=5>
               <div class="biao">2</div>
               <div class="biao">我是学霸</div>
               <div class="biao">啊啊哈哈哈哈哈哈哈</div>
               <div class="biao">1/8/2018</div>
               <div class="biao">
                 <button type="button" class="btn btn-info">编辑</button>
                 <button type="button" class="btn btn-warning">删除</button> 
               </div>
             </td>
           </tr>
           <tr>
             <td colspan=5>
               <div class="biao">3</div>
               <div class="biao">我是学霸</div>
               <div class="biao">啊啊哈哈哈哈哈哈哈</div>
               <div class="biao">1/8/2018</div>
               <div class="biao">
                 <button type="button" class="btn btn-info">编辑</button>
                 <button type="button" class="btn btn-warning">删除</button> 
               </div>
             </td>
           </tr>
           <tr>
             <td colspan=5>
               <div class="biao">4</div>
               <div class="biao">我是学霸</div>
               <div class="biao">啊啊哈哈哈哈哈哈哈</div>
               <div class="biao">1/8/2018</div>
               <div class="biao">
                 <button type="button" class="btn btn-info">编辑</button>
                 <button type="button" class="btn btn-warning">删除</button> 
               </div>
             </td>
           </tr>
           <tr>
             <td colspan=5>
               <div class="biao">5</div>
               <div class="biao">我是学霸</div>
               <div class="biao">啊啊哈哈哈哈哈哈哈</div>
               <div class="biao">1/8/2018</div>
               <div class="biao">
                 <button type="button" class="btn btn-info">编辑</button>
                 <button type="button" class="btn btn-warning">删除</button> 
               </div>
             </td>
           </tr>
           <tr>
             <td colspan=5>
               <div class="biao">6</div>
               <div class="biao">我是学霸</div>
               <div class="biao">啊啊哈哈哈哈哈哈哈</div>
               <div class="biao">1/8/2018</div>
               <div class="biao">
                 <button type="button" class="btn btn-info">编辑</button>
                 <button type="button" class="btn btn-warning">删除</button>  
               </div>
             </td>
           </tr>
         </table>
       </form>
      </div>
  