page-wj-kq {
    ion-title{
        padding-right: 100px;
    }
    ion-content{
        ion-icon{
            font-size: 26px;
        }
        .icon1{
            float: right;
        }
        ion-list{
            span{
                font-size: 17px;
                margin-left: 10px;
            }
        }
    }
}
