page-wj-touxiang {
    ion-content{
       
        img{
            width: 87px;
            height: 87px; 
        }
        .div1,.div2,.div3,.div4{
            text-align: center;
            
        }
    }
}
