<div class="content">
  <table>
    <tr>
      <th class="biaotou">头像</th>
      <th class="biaotou">用户名</th>
      <th class="biaotou">手机号</th>
      <th class="biaotou">身份</th>
      <th class="biaotou">发帖数量</th>
      <th class="biaotou">粉丝数量</th>
    </tr>
    <tr>
      <td><img src="../../../assets/img/img3-1.jpg"/></td>
      <td>去年夏天</td>
      <td>17483927494</td>
      <td>家长</td>
      <td>5</td>
      <td>297</td>
    </tr>
    <tr>
      <td><img src="../../../assets/img/img3-2.jpeg"/></td>
      <td>山水之间</td>
      <td>15384643937</td>
      <td>老师</td>
      <td>34</td>
      <td>9763</td>
    </tr>
    <tr>
      <td><img src="../../../assets/img/img3-3.jpg"/></td>
      <td>最美的遇见</td>
      <td>18483637639</td>
      <td>家长</td>
      <td>29</td>
      <td>9633</td>
    </tr>
    <tr>
      <td><img src="../../../assets/img/img3-4.jpg"/></td>
      <td>有何不可</td>
      <td>17483927494</td>
      <td>家长</td>
      <td>67</td>
      <td>6863</td>
    </tr>
  </table>
</div>