<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>后台页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
	<body>
		<div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-xs-2">
                <ul class="nav nav-pills nav-stacked" style="background-color:rgb(37, 155, 36)">
                	<li style="padding-left:30px;"><img src="../assets/images/gezi.png"/></li>
                  <li><a href="#" data-toggle="tab"><span class="glyphicon glyphicon-home">&nbsp;</span>&nbsp;首页</a></li>
                  <li><a href="#" data-toggle="tab"><i class="iconfont">&#xe662;</i>&nbsp;&nbsp;系统管理</a></li>
                  <li><a href="#home" data-toggle="tab"><i class="iconfont">&#xe619;</i>&nbsp;&nbsp;帖子管理</a></li>
                  <li><a href="#" data-toggle="tab"><i class="iconfont">&#xe604;</i>&nbsp;&nbsp;用户管理</a></li>
                  <li><a href="#" data-toggle="tab"><i class="iconfont">&#xe64e;</i>&nbsp;&nbsp;文件管理</a></li>
                  <li><a href="#" data-toggle="tab"><i class="iconfont">&#xe671;</i>&nbsp;&nbsp;关键字管理</a></li>
                  <li><a href="#" data-toggle="tab"><i class="iconfont">&#xe641;</i>&nbsp;&nbsp;学校信息管理</a></li>
                   
                </ul>
            </div>

        
        <div class="col-md-10">
          <div class="tab-pane fade" id="home">
				     <input type="text" name="search" placeholder="请输入您要查找的关键字">
				     <div class="right">
				     	<span class="glyphicon glyphicon-bell">&nbsp;</span>
				     	<span class="glyphicon glyphicon-envelope">&nbsp;</span>
				     </div>
				     <form>
				     	<table type="text/css">
				     		<tr>
				     			<th>序号</th>
				     			<th>用户名</th>
				     			<th>帖子内容</th>
				     			<th>时间</th>
				     			<th>操作</th>
				     		</tr>
				     		<tr>
				     			<td colspan=5>
                    <div class="biao">1</div>
                    <div class="biao">我是学霸</div>
                    <div class="biao">啊啊哈哈哈哈哈哈哈</div>
                    <div class="biao">1/8/2018</div>
                    <div class="biao">
                    <button type="button" class="btn btn-info">编辑</button>
                    <button type="button" class="btn btn-warning">删除</button> 
                    </div>
				     			</td>
				     		</tr>
				     		<tr>
				     			<td colspan=5>
				     				<div class="biao">2</div>
				     				<div class="biao">我是学霸</div>
				     				<div class="biao">啊啊哈哈哈哈哈哈哈</div>
				     				<div class="biao">1/8/2018</div>
				     				<div class="biao">
				     					<button type="button" class="btn btn-info">编辑</button>
				     					<button type="button" class="btn btn-warning">删除</button> 
				     				</div>
				     			</td>
				     		</tr>
				     		<tr>
				     			<td colspan=5>
				     				<div class="biao">3</div>
				     				<div class="biao">我是学霸</div>
				     				<div class="biao">啊啊哈哈哈哈哈哈哈</div>
				     				<div class="biao">1/8/2018</div>
				     				<div class="biao">
				     					<button type="button" class="btn btn-info">编辑</button>
				     					<button type="button" class="btn btn-warning">删除</button> 
				     				</div>
				     			</td>
				     		</tr>
				     		<tr>
				     			<td colspan=5>
				     				<div class="biao">4</div>
				     				<div class="biao">我是学霸</div>
				     				<div class="biao">啊啊哈哈哈哈哈哈哈</div>
				     				<div class="biao">1/8/2018</div>
				     				<div class="biao">
				     					<button type="button" class="btn btn-info">编辑</button>
				     					<button type="button" class="btn btn-warning">删除</button> 
				     				</div>
				     			</td>
				     		</tr>
				     		<tr>
				     			<td colspan=5>
				     				<div class="biao">5</div>
				     				<div class="biao">我是学霸</div>
				     				<div class="biao">啊啊哈哈哈哈哈哈哈</div>
				     				<div class="biao">1/8/2018</div>
				     				<div class="biao">
				     					<button type="button" class="btn btn-info">编辑</button>
				     					<button type="button" class="btn btn-warning">删除</button> 
				     				</div>
				     			</td>
				     		</tr>
				     		<tr>
				     			<td colspan=5>
				     				<div class="biao">6</div>
				     				<div class="biao">我是学霸</div>
				     				<div class="biao">啊啊哈哈哈哈哈哈哈</div>
				     				<div class="biao">1/8/2018</div>
				     				<div class="biao">
				     					<button type="button" class="btn btn-info">编辑</button>
				     					<button type="button" class="btn btn-warning">删除</button>  
				     				</div>
				     			</td>
				     		</tr>
				     	</table>
				     </form>
			      </div>
	       </div>
	          
   
         


	</div>
  </div>
	</body>
</html>


