#mainpage{
    background-color: lightgoldenrodyellow;
}
.div1{
    margin-left: 70px;
  
    margin-top: 30px;
    
}
h1{
    color: #259B24;
    display: inline;
}
img{
    width: 70px;
    height: 50px;
}
