<div class="content">
  <div class="usermessage">
    <form action="">
      <div class="photo">
          <img src="../../../assets/img/user2.jpg" alt="">
      </div>
      <div class="userbottom">

          <i class="iconfont">&#xe7bd;</i>用户名：
          <input type="text"><br/>
          <i class="iconfont">&#xe63f;</i>密码：
          <input type="password" class="is"><br/>
          <i class="iconfont">&#xe60d;</i>验证码：
          <input type="number"><br/>
          <input type="button" value="登录" (click)='shouye()'>
      </div>
    </form>
  </div>
  
</div>
