<span class="yhm">用户名</span>&nbsp;&nbsp;&nbsp;<span class="nh">您好！</span>
<span class="yo"><i class="iconfont">&#xe638;</i>&nbsp;&nbsp;<i class="iconfont">&#xe6cf;</i></span>
<div class="container">
        <!-- <ul class="heroes">
            <li><i class="iconfont">&#xe600;</i><span>首页</span></li>
            <li><i class="iconfont">&#xe625;</i><span>系统管理</span></li>
            <li><i class="iconfont">&#xe707;</i><span>帖子管理</span></li>
            <li><i class="iconfont">&#xe613;</i><span>用户管理</span></li>
            <li><i class="iconfont">&#xe62e;</i><span>文件管理</span></li>
            <li><i class="iconfont">&#xe60e;</i><span>关键字管理</span></li>
            <li><i class="iconfont">&#xe60f;</i><span>学校信息管理</span></li>
        </ul>  -->
        
        <div class="wrap-content">
            <div class="box">
                <div class="box1">
                    <p class="word">630</p>
                    <p>新用户注册</p>
                </div>
                <div class="box1">
                    <p class="word">1888</p>
                    <p>总用户量</p>
                </div>
                <div class="box1">
                    <p class="word">767</p>
                    <p>发帖量</p>
                </div>
                <div class="box1">
                    <p class="word">1000</p>
                    <p>文件下载量</p>
                </div>
            </div>
            <p style="display:inline;margin-left: 230px;font-size: 20px;font-weight: bold;">总用户量</p>
            <p style="display:inline;margin-left: 435px;font-size: 20px;font-weight: bold;">发帖量</p>
            <div class="charts">
                <div id="main"></div>
                <div id="main1"></div>
            </div>
        </div>
        
</div>



  