ion-header{
    div{
        width:360px;
        height:80px;
        background-color:#a1c45a;
        margin-bottom:0px;
        i
        {
        display:inline-block;
        font-size:30px;
        margin-left:20px;
        position:absolute;
        top:20px;
        }
        ion-title{
            display:inline-block;
            margin-left:70px;
        }
        
    }
}
#container{
    width:360px;
    height:600px;
    
   
   h5{
       
       span{
           margin-left:100px;
       }
   }
   .week{
       margin-top:20px;
       margin-left:20px;
       button{
           width:70px;
           height:30px;
           margin-left:50px;
       }
   }
   button{
       width:70px;
       height:30px;
       margin-top:20px;
       margin-left:110px;
   }
}
@font-face {
    font-family: 'iconfont';  /* project id 884911 */
    src: url('//at.alicdn.com/t/font_884911_9oxqez936pf.eot');
    src: url('//at.alicdn.com/t/font_884911_9oxqez936pf.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_884911_9oxqez936pf.woff') format('woff'),
    url('//at.alicdn.com/t/font_884911_9oxqez936pf.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_884911_9oxqez936pf.svg#iconfont') format('svg');
  }

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
