<div class="wai">
  <div><img src="../../../assets/img/logo4.gif"/></div>
  <ul>
    <li><a [routerLink]="['/shouye']"><i class="iconfont">&#xe601;</i>首页</a></li>
    <li><a [routerLink]="['/system']"><i class="iconfont">&#xe607;</i>系统管理</a></li>
    <li><a><i class="iconfont">&#xe6a5;</i>帖子管理</a></li>
    <li><a [routerLink]="['/users']"><i class="iconfont">&#xe734;</i>用户管理</a></li>
    <li><a [routerLink]="['/wjgl']"><i class="iconfont">&#xe653;</i>文件管理</a></li>
    <li><a [routerLink]="['/keys']"><i class="iconfont">&#xe60f;</i>关键字管理</a></li>
    <li><a><i class="iconfont">&#xe720;</i>学校信息管理</a></li>
  </ul>
</div>