<ion-header>
  <ion-navbar color='gr'>
    <ion-title>选择头像</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style=" background-color: black;">
    <!-- <div style="width:70px;height:70px;margin-left:auto;margin-right: auto;margin-top:5%;border-radius:5px;" ng-click="addPhoto();">
        ![](img/imgs/username.png)
        <img ng-if="user.image!=1" src={{user.image}} style="width:60px;height:60px;margin-left:-15%;margin-top:2%" >
    </div> -->
    <div class="div1">
      <img src="../../assets/imgs/23.jpg">
      <img src="../../assets/imgs/14.jpg">
      <img src="../../assets/imgs/12.jpg">
      <img src="../../assets/imgs/13.jpg">
    </div>
    <div class="div2">
      <img src="../../assets/imgs/11.jpg">
      <img src="../../assets/imgs/77.jpg">
      <img src="../../assets/imgs/88.jpg">
      <img src="../../assets/imgs/99.jpg">
   </div>
   <div class="div3">
      <img src="../../assets/imgs/33.jpg">
      <img src="../../assets/imgs/44.jpg">
      <img src="../../assets/imgs/88.jpg">
      <img src="../../assets/imgs/99.jpg">
   </div>
   <div class="div4">
      <img src="../../assets/imgs/88.jpg">
      <img src="../../assets/imgs/99.jpg">
      <img src="../../assets/imgs/11.jpg">
      <img src="../../assets/imgs/77.jpg">
   </div>
   <div class="div5">
      <img src="../../assets/imgs/11.jpg">
      <img src="../../assets/imgs/77.jpg">
      <img src="../../assets/imgs/88.jpg">
      <img src="../../assets/imgs/99.jpg">
   </div>
   <div class="div1">
      <img src="../../assets/imgs/88.jpg">
      <img src="../../assets/imgs/14.jpg">
      <img src="../../assets/imgs/12.jpg">
      <img src="../../assets/imgs/13.jpg">
    </div>
    <div class="div3">
        <img src="../../assets/imgs/33.jpg">
        <img src="../../assets/imgs/44.jpg">
        <img src="../../assets/imgs/88.jpg">
        <img src="../../assets/imgs/99.jpg">
     </div>
</ion-content>
