<div class="row">
  <div class="col-sm-12">
    <h3 class="dashboard-title">{{'dashboard.title' | translate}}</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="top-rect top-rect-blue">
          <p class="p1">新注册用户量</p>
          <p class="p2">{{long}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="top-rect top-rect-green">
          <p class="p1">用户总量</p>
          <p class="p2">{{long}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="top-rect top-rect-orange">
          <p class="p1">帖子总量</p>
          <p class="p2">{{tzlong}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="top-rect top-rect-pink">
          <p class="p1">文件下载量</p>
          <p class="p2">0</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-container line-container">
          <div echarts [options]="lineChart" class="nf-chart"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-container bar-container">
          <div echarts [options]="barChart" class="nf-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>