  <div id="right" style="width:75%;float:left">
          <ul class="one">
            <li>用户名</li>
            <li>真实姓名</li>
            <li>邮箱</li>
            <li>手机号</li>
            <li>职位</li>
            <li>操作</li>
          </ul>
          <ul>
            <li>小明</li>
            <li>李明</li>
            <li>123@qq.com</li>
            <li>12345678</li>
            <li>开发</li>
            <li>
              <button class="btn1">编辑</button>
              <button class="btn2">删除</button>
            </li>
          </ul>
          <ul>
            <li>小华</li>
            <li>李华</li>
            <li>123@qq.com</li>
            <li>12345678</li>
            <li>ui设计</li>
            <li>
                <button class="btn1">编辑</button>
                <button class="btn2">删除</button>
              </li>
          </ul>
          <ul>
            <li>小华</li>
            <li>张华</li>
            <li>123@qq.com</li>
            <li>12345678</li>
            <li>测试</li>
            <li>
                <button class="btn1">编辑</button>
                <button class="btn2">删除</button>
            </li>
          </ul>
          <ul>
              <li>小丽</li>
              <li>张丽</li>
              <li>123@qq.com</li>
              <li>12345678</li>
              <li>测试</li>
              <li>
                  <button class="btn1">编辑</button>
                  <button class="btn2">删除</button>
                </li>
            </ul>
  </div>
