/* HeroesComponent's private CSS styles */
  *{
    margin: 0;
    padding: 0;
  }
  .container{
    width: 75%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
  }
  .heroes{
    float: left;
    background-color:lightgoldenrodyellow;
    height: 540px;
    color: white;
  }
  .wrap-content{
    width: 100%;
    height: 100%;
  }
  .box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .box1{
    width: 25%;
    height: 10rem;
    margin: 0.5em;
    margin-top: 0;
    padding: 1rem;
    text-align: center;
    background-color: #d1f6c1;
  }
  #main{
    width: 34rem;
    height: 20rem;
    margin-left: 20px;
    /* background-color: aquamarine; */
  }
  #main1{
    /* background-color: aqua; */
    width: 34rem;
    height: 20rem;
  }
  .charts{
    display: flex;
    flex-direction: row;
   
  }
  .word{
    font-size: 40px;
    margin-bottom: 55px;
  }
  .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .heroes {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 17em;
    }
    .heroes span{
      margin-left: 20px;
    }
    .heroes .iconfont{
      margin-left: 35px;
    }
    .heroes li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color:#259B24;
      margin: 2em;
      padding: .5em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .heroes li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .heroes li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .heroes .text {
      position: relative;
      top: -3px;
    }
    /* .heroes .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      background-color: #607D8B;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    } */
    @font-face {
      font-family: 'iconfont';  /* project id 950333 */
      src: url('//at.alicdn.com/t/font_950333_xuwbq4mvrak.eot');
      src: url('//at.alicdn.com/t/font_950333_xuwbq4mvrak.eot?#iefix') format('embedded-opentype'),
      url('//at.alicdn.com/t/font_950333_xuwbq4mvrak.woff') format('woff'),
      url('//at.alicdn.com/t/font_950333_xuwbq4mvrak.ttf') format('truetype'),
      url('//at.alicdn.com/t/font_950333_xuwbq4mvrak.svg#iconfont') format('svg');
    }
    .iconfont{
      font-family:"iconfont" !important;
      font-size:16px;font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;}