page-wj-setting {
    ion-title{
        padding-right:100px;
    }
    ion-content{
        
        p{
            display: inline;
            float: right;
        }
        img{
            float: right;
            width: 25px;
            height: 25px;
            border-radius:90%;
        }
        ion-icon{
            float: right;
        }
        .tou{
            padding-top: 10px;
        }
        .label1{
            
        }
    }
    

}
